---
---

@import "minimal-mistakes";

/* Resize member images in feature_row */
.feature__image img {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  border-radius: 50%;
}
